<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ulplatform.dao.mapper.DepartUserMapper">
  <resultMap id="BaseResultMap" type="org.ulplatform.dao.DepartUser">
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="ORGANNAME" jdbcType="VARCHAR" property="organname" />
    <result column="DEPARTNAME" jdbcType="VARCHAR" property="departname" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="ZIPCODE" jdbcType="VARCHAR" property="zipcode" />
    <result column="BIRTHDAY" jdbcType="VARCHAR" property="birthday" />
  </resultMap>
  <insert id="insert" parameterType="org.ulplatform.dao.DepartUser">
    insert into DEPARTUSER (USERID, USERNAME, ORGANNAME, 
      DEPARTNAME, EMAIL, QQ, 
      TELEPHONE, PHONE, ADDRESS, 
      ZIPCODE, BIRTHDAY)
    values (#{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{organname,jdbcType=VARCHAR}, 
      #{departname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{zipcode,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ulplatform.dao.DepartUser">
    insert into DEPARTUSER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        USERID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="organname != null">
        ORGANNAME,
      </if>
      <if test="departname != null">
        DEPARTNAME,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="telephone != null">
        TELEPHONE,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="zipcode != null">
        ZIPCODE,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="organname != null">
        #{organname,jdbcType=VARCHAR},
      </if>
      <if test="departname != null">
        #{departname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByUserId" parameterType="java.lang.String" resultType="org.ulplatform.dao.DepartUser">
    SELECT * FROM departuser WHERE userid = #{userid,jdbcType=VARCHAR}
  </select>
</mapper>